.favoriteBlock {
  margin: 10px 0 0 0;
  padding: 20px;
  background-color: #1e2531;
  display: flex;
  font-size: 20px;
}
.favoriteInform {
  div {
    padding: 2px;
  }
  span {
    color: gold;
    font-weight: 600;
  }
  margin: 20px 0 0 40px;
  margin-top: 20px;
}
