.searchInput {
  margin: 60px 0 60px 0;
  position: relative;
  z-index: 1000;
}
.mainSection {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  width: 100%;
  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  .mainContent {
    display: flex;
    align-self: center;
  }
}