.guessTheFlagPage {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .flagBlock {
        width: 700px;
        height: 500px;
    }

    img {
        width: 700px;
        height: 500px;
    }

    .flagIslands {
        text-align: center;
        top: 130px;
        position: absolute;
        color: #f7f7f7;
        font-weight: 600;
        text-shadow: 4px 4px 4px #000;
    }

    .formBlock {
        margin-left: 60px;
        position: relative;
        margin-top: 16px;

        .findInput {
            height: 40px;
            width: 300px;
            font-size: 20px;
            border-radius: 6px;

        }

        .findInput:focus {
            outline: none;
        }

        .resultFalse,
        .resultTrue {
            position: absolute;
            font-size: 240px;
            top: -460px;
            left: -70px;
            text-shadow: 4px 4px 4px #000;
        }

        .resultFalse {
            color: red;

        }

        .resultTrue {
            color: green;
        }

        .checkBtn {
            margin: -4px 0 0 10px;
        }

        .nextBtn {
            margin-top: -66px;
            margin-left: -80px;
        }

    }

    .hiddenNameCountry {
        text-align: center;
        top: 170px;
        position: absolute;
        color: #f7f7f7;
        font-weight: 600;
        text-shadow: 4px 4px 4px #000;

    }

    .hiddenDatalist {
        background-color: #f7f7f7;
        width: 300px;
        max-height: 400px;
        visibility: hidden;
        position: absolute;
        overflow-y: scroll;
        opacity: 0;
    }

    .showedDatalist {
        visibility: visible;
        opacity: 1;
        border-radius: 5px;
        padding: 5px;
        background-color: #f7f7f7;
        position: absolute;
        overflow-y: scroll;
        width: 300px;
        max-height: 400px;
        display: block;
    }

    .showedDatalist::-webkit-scrollbar {
        width: 20px;

    }

    .showedDatalist::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 6px;
        background-color: #000;
    }

    .option {
        font-size: 20px;
        font-weight: 600;
        padding: 5px;
        color: black;
    }

    .option:hover {
        background-color: tomato;
        cursor: pointer;
    }
}


@media screen and (min-width: 280px) and (max-width: 500px) {
    .guessTheFlagPage {
        margin-top: 140px;
        margin-left: -80px;

        .flagBlock {
            width: 380px;
            height: 250px;
        }
        img {
            width: 380px;
            height: 250px;
        }
        .flagIslands{
            top: 200px;
            font-size: 20px;
        }

        .formBlock {
            .findInput {
                width: 200px;
            }

            .resultFalse,
            .resultTrue {
                font-size: 160px;
                top: -280px;
                left: -60px;
            }
        }

        .hiddenNameCountry {
            left: 0;
            width: 400px;
            top: 100px;
        }
        .showedDatalist{
            margin-left: -60px;
            max-height: 400px;
        }

    }

}