.header {
    display: flex;
    justify-content: center;
    padding: 0 0 60px 0;

    .activeLink{
        border-bottom: 4px solid gold;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 40px;
        margin-right: 40px;
        text-shadow: 4px 4px 4px #000;
    }

    a:hover {
        transform: scale(1.1);
        color: red;
        transition: .2s;
    }

}
@media screen and (min-width: 280px) and (max-width: 500px ){
    .header {
        margin-left: -55px;
        display: flex;
        justify-content: center;
        padding: 0 0 60px 0;
    
        .activeLink{
            border-bottom: 2px solid gold;
        }
    
        a { 
            color: white;
            text-decoration: none;
            font-size: 22px;
            margin-right: 20px;
            text-shadow: 2px 2px 2px #000;
        }
    
        a:hover {
            transform: scale(1);
            color: inherit;
            transition: 0;
        }
    
    }
}