@font-face {
    font-family: 'PT Sans Caption', sans-serif;
    src: url('./fonts/PTSansCaption/PTSansCaption-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'PT Sans Caption', sans-serif;
    src: url('./fonts/PTSansCaption/PTSansCaption-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Saira', sans-serif;
    src: url('./fonts/Saira/Saira-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Saira', sans-serif;
    src: url('./fonts/Saira/Saira-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Saira', sans-serif;
    src: url('./fonts/Saira/Saira-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Saira', sans-serif;
    src: url('./fonts/Saira/Saira-ExtraBold.ttf');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Saira', sans-serif;
    src: url('./fonts/Saira/Saira-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

