* {
  box-sizing: border-box;
}

.App {
  color: #f7f7f7;
  margin: 0 auto;
  width: 1440px;
  height: 1220px;
  position: relative;
  padding-top: 20px;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #2D384A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 500px ){
  .App {
    max-width: 100vw;
    height: auto;
  }
  body{
    overflow-x: hidden;
  }
  button:hover {
    cursor: pointer;
  }

}