* {
  box-sizing: border-box;
}

.App {
  color: #f7f7f7;
  margin: 0 auto;
  width: 1440px;
  height: 1200px;
  position: relative;
  padding-top: 20px;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #2D384A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 280px) and (max-width: 500px ){
 
  .App {
    min-width: 280px;
    max-width: 480px;
    height: auto;
    overflow-x: hidden;
  }
  
  button:hover {
    cursor: pointer;
  }

}